.navigation{
  a{
    color:#818181;
    width:19.5%;
    display:inline-block;
    text-transform:uppercase;
    margin:auto;
    text-align:center;
  }
  a:hover{
    color:#E99144;
  }
}

img{
  position:relative;
  margin:auto;
  left:0;
  right:0;
}